html {
font-size: 18px;
line-height: 1.4;
font-family: Helvetica;
}


/*Container */
.container {
width: 960px;
margin: auto;
}


/*Header /*Main-Banner */ 
.main-banner {
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
background-size: cover;
background-position: center;
height: 30rem;
}
/* Top-Banner */
.top-banner .container {
background-color: cadetblue;
margin-bottom: 10rem;
align-items: center;
position: relative;
font-size: 1rem;
display: flex;
height: 3.1rem;
color: white;
top: 1.8rem;
}
.top-banner span {
width: 100%;
font-size: 1rem;
letter-spacing: 1px;
}
.container ul {
display: inline-flex;
justify-content: flex-end;
list-style: none;
}
.container li {
padding: 1rem 2rem;
letter-spacing: 1px;
font-size: 1rem;
}
.logo img {
height: 1.5rem;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 1rem;
}
/*Image-Banner */
.image-banner {
margin-left: 3rem;	
}
.dljs {
display: flex;
align-items: center;
background-color: white;
padding: 1.5rem 5rem;
letter-spacing: 1px;
margin-left: 18rem;
font-weight: bold;
line-height: 1.2;
font-size: 2rem;
height: 4rem;
}
.dljs div {
width: 100%;
}
/*Header /*Main-Banner */


/*Services */
.services {
display: flex;
justify-content: center;
}
.service {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
height: 8rem;
margin: 3rem;
width: 5rem;
}
.paper {
width: 3.5rem;
}
.ruler {
width: 5rem;
}
.truck {
width: 5rem;
}


/*Narrative */
.narrative .container {
display: flex;
}
.text {
display: inline-block;
font-weight: bold;
margin-right: 5%;
}
.text div {
background-color: cadetblue;
font-family: Helvetica;
padding: 0.5rem 1.25rem;
font-size: 1rem;
color: white;
width: 10rem;
}
.text p {
width: 100%;
margin-top: 1rem;
word-spacing: 3px;
line-height: 1.4rem;
}
 

 /*Footer */
footer.container {
display: flex;
margin-top: 5rem;
background-color: azure;
}
.content {
display: inline-flex;
align-items: center;
font-weight: bold;
}
.logoblk {
height: 1.5rem;
padding-top: 4rem;
padding-bottom:4rem;
padding-left: 4rem;
padding-right: 1rem;
}
.copyright {
word-spacing: 0.1rem;
}


/*Media Queries Tablet 1024px */
@media only screen and (max-width: 1024px) {

.container {
	width: 100%;
}

.top-banner .container {
	top: 0;
	margin-bottom: 5rem;
}

.main-banner {
	height: 22rem;
}

.dljs {
	padding: 0.75rem 4rem;
	font-size: 1.33rem;
	margin-right: 2rem;

}
}