html {
font-size: 18px;
line-height: 1.4;
font-family: Helvetica;	
}

.container {
width: 960px;
margin: auto;
}
.main-banner {
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
background-size: cover;
background-position: center;
height: 28.5rem;
}

.top-banner .container {
background-color: cadetblue;
align-items: center;
position: relative;
font-size: 1rem;
display: flex;
height: 3.1rem;
width: 72%;
color: white;
top: 1.8rem;
}

.top-banner span {
width: 100%;
font-size: 1rem;
letter-spacing: 1px;
}

.container ul {
display: inline-flex;
justify-content: flex-end;
list-style: none;
width: 100%;
}

.container li {
padding: 1rem 2rem;
letter-spacing: 1px;
font-size: 1rem;

}

.logo img {
height: 1.5rem;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 1rem;
}

.dljs {
letter-spacing: 1px;
background-color: white;
text-align: center;
line-height: 1.2;
font-size: 2rem;
font-weight: bold;
margin-top: 10rem;
margin-left: 25rem;
padding: 1.5rem 2rem;
width: 50%;
}
